# Maven
target/
.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Configuración local de cada integrante
src/main/resources/application.yml

# Variables de entorno locales (secretos)
.env

# Pruebas locales
src/test/java/com/nexus/rinde/*
!src/test/java/com/nexus/rinde/acceptance/
!src/test/java/com/nexus/rinde/support/
